#landing{
    height: 100vh;
    background-image: url('../assets/zion.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
}

#landing-div {
    background-color: aqua;
    opacity: .5;
    margin: 10px;
    border-radius: 30px;
    width: 50%;
}

#main-text{
    font-size: 8vw;
    font-family: 'Acme', sans-serif;
    color: #006064;
    padding: 10px;
}

h2, h4 {
    color: #006064;
}

.sarabun {
    font-family: 'Sarabun', sans-serif;
}

p {
    font-size: 18px;
}

.music {
    color: #FCE950;
}

.footer-copyright {
    background-color: #37474f;
    padding: 10px;
}