#landing{
    height: 100vh;
    background-image: url('../assets/zion.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
}
#mainText{
    margin-top: 5%;
    margin-left: 5%;
    position: relative;
    font-size: 8vh;
    font-family: 'Acme', sans-serif;
    color: #006064;
}

h2 {
    color: #006064;
}

.sarabun {
    font-family: 'Sarabun', sans-serif;
}

p {
    font-size: 18px;
}